apiVersion: apps/v1
kind: Deployment
metadata:
  name: pettion-server
spec:
  selector:
    matchLabels:
      app: pettion-server
      tier: back
  replicas: 1
  template:
    metadata:
      labels:
        app: pettion-server
        tier: back
    spec:
      containers:
      - name: pettion-server
        image: phjppo0918/spring-boot
        ports:
        - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: pettion-server
spec:
  ports:
    - port: 8080
      protocol: TCP
  selector:
    app: pettion-server
    tier: back
